<div class="rating-selector">
    
    <div [ngClass]="status[0] ? 'selected' : 'unselected'" (click)="select(0)">0</div>
    <div [ngClass]="status[1] ? 'selected' : 'unselected'" (click)="select(1)">1</div>
    <div [ngClass]="status[2] ? 'selected' : 'unselected'" (click)="select(2)">2</div>
    <div [ngClass]="status[3] ? 'selected' : 'unselected'" (click)="select(3)">3</div>
    <div [ngClass]="status[4] ? 'selected' : 'unselected'" (click)="select(4)">4</div>
    <div [ngClass]="status[5] ? 'selected' : 'unselected'" (click)="select(5)">5</div>
    <div [ngClass]="status[6] ? 'selected' : 'unselected'" (click)="select(6)">6</div>
    <div [ngClass]="status[7] ? 'selected' : 'unselected'" (click)="select(7)">7</div>
    <div [ngClass]="status[8] ? 'selected' : 'unselected'" (click)="select(8)">8</div>
    <div [ngClass]="status[9] ? 'selected' : 'unselected'" (click)="select(9)">9</div>
    <div [ngClass]="status[10] ? 'selected' : 'unselected'" (click)="select(10)">10</div>

</div>